{% extends 'base.html.twig' %}

{% block title %}Admin : Etats{% endblock %}

{% block body %}

<div id="app">

<div class="col-6 offset-3">
    <h2>Bienvenue sur le site des annonces</h2>
    <form action="{{path('app_declaration')}}" method="post">

        <div class="row">
            <div class="col-6 offset-0 ">
                <div class="form-floating">
                    <input type="text" name="search" id="search" placeholder="Recherche un departement"
                           class="form-control">
                    <label for="search">Rechercher une annonce</label>
                </div>
            </div>

            <div class="col-2 offset-1">
                <button type="submit" class="btn btn-primary my-auto">Annonce</button>
            </div>
            <div class="col-2 offset-1">
                <a href="" class="btn btn-success">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </form>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>annonce</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for a in annonces %}
            <tr>
                <th>
                    <input type="text" id="declarationUser{{ a.id }}" readonly class="form-control-plaintext"
                           value="{{ a.users }}">
                </th>

                <th>
                    <button id="update{{ a.id }}" class="btn btn-secondary update"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer">
                        <i class="fa fa-trash-can"></i>
                    </button>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


