{% extends 'base.html.twig' %}

{% block title %}New Declaration{% endblock %}

{% block body %}
    <h1>Create une déclaration</h1>

    {{ include('declaration/_form.html.twig') }}

    <a href="{{ path('main_home') }}">back to list</a>
{% endblock %}