{# {% form_theme secteurForm 'annonce/forms/fields.html.twig' %} #}

<!-- Modal -->
<div class="modal fade" id="{{ modal_id }}" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% block modalTitle %}{% endblock %}</h4>
            </div>
            <div class="modal-body">
                {% block modalBody %}{% endblock %}
            </div>
            <div class="modal-footer">
                {% block modalValidationbutton %}{% endblock %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>