{% extends 'base.html.twig' %}

{% block title %} New animal {% endblock %}

{% block body %}
    <h1>Créer un animal</h1>

    {{ include('animal/_form.html.twig', {'button_label': 'Save'}) }}

    <a href="{{ path('main_home') }}">back to list</a>

{#    {{ include('animal/_delete_form.html.twig') }}#}
{% endblock %}

{% block endjs %}
    <script src="{{ asset('js/newAndEditAjaxRaces.js') }}"></script>
{% endblock  %}
