{% extends 'base.html.twig' %}

{% block title %}créer un signalementt{% endblock %}

{% block body %}
    <h5><center>Créer un signalement si vous avez trouvé ou aperçu un animal</center> </h5>

    {{ include('signalement/_form.html.twig') }}

{% endblock %}
